
a {
    text-decoration: none;
    color: inherit;
    transition: all 0.2s ease;
    width: 100%;
    position: relative;
}
a:hover {
    color: blue;
    transition: all 0.8s ease;
}
img {
    width: 100%;
}
.therapy-wrapper  {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.therapy-right-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 5px;

    & > div {
        box-shadow: 0 0 20px 1px rgb(0 0 0 / 20%);
        transition: 0.6s;
    }
    & > div:hover {
        box-shadow: 0 0 15px 5px rgb(0 0 0 / 40%);
        cursor: pointer;
    }
    gap: 10px;
}

.bg {
    background-size: cover;
    transition: all 0.4s ease-out;
    height: inherit;
}
.bg-overlay {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: -webkit-fill-available;
    transition: all 0.7s ease-in;
}
.bg-overlay:hover {
    transition: all 1.2s ease-in;
    background-color: rgba(0,0,0,.4);
}
.therapy-title {
    position: absolute;
    top: 80%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    background-color: #2121213d;
    padding: 5px 0;
}
.bg-5 {
    background-image: url("../../../../../assets/media/stock-600x400/img-1.jpg");
    height: 70%;
}
.sale-wrapper {
    padding: 20px 50px;
}
.show-img {
    width: 95%;
    z-index: 200;
    transition: 800ms;
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.685);
    }



@media screen and (max-width: 768px) {
    .therapy-wrapper {
        grid-template-columns: 1fr;
    }
    .therapy-right-wrapper {
        grid-template-columns: 1fr;
    }
    .bg-5 {
        height: 350px;
    }
    .sale-wrapper {
        padding: 20px;
    }
}