
$img-height: 235px;

.z-200 {
    z-index: 200;
}

a {
    text-decoration: none;
    color: inherit;
    transition: all 0.4s ease;
    width: 100%;
    height: $img-height;
    position: relative;
}
a:hover {
    color: blue;
    transition: all 0.8s ease;
}
img {
    width: 100%;
}
.therapy-wrapper  {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.therapy-right-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: $img-height;
    grid-auto-rows: $img-height;
    gap: 15px 5px;

    & > div {
        box-shadow: 0 0 20px 1px rgb(0 0 0 / 40%);
    }
    & > div:hover {
        box-shadow: 0 0 20px 5px rgb(0 0 0 / 40%);
        cursor: pointer;
    }
}

.bg {
    background-size: cover;
    transition: all 0.4s ease-out;
    height: $img-height;
}
.bg-overlay {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: -webkit-fill-available;
    transition: all 0.7s ease-in;
}
.bg-overlay:hover {
    transition: all 1.2s ease-in;
    background-color: rgba(0,0,0,.4);
}
.therapy-title {
    position: absolute;
    top: 80%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    background-color: #2121213d;
    padding: 5px 0;
}
.bg-5 {
    background-image: url("../../../../../assets/media/stock-600x400/img-1.jpg");
    height: 70%;
}
.sale-wrapper {
    padding: 20px 50px;
}
.therapy-modal {
    top: 0;
    left: 50%;
    width: 70%;
}
.modal-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: -50%;
    z-index: 200;
    box-shadow: 0px 0px 300px 200px #000000d1;
    height: 700px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    & button {
        position: absolute;
        top: 0.75rem;
        right: 1.5rem;
        border: none;
        background: none;
        font-size: 3rem;
        color: white;
    }
}
.therapy-desc-wrapper {
    background: rgb(163,163,163);
    background: linear-gradient(0deg, #0000009e 30%, #000000d9 80%);
    box-shadow: 0 0 25px 2px black;
    color: white;
    width: 100%;
    padding: 1.5rem;
}
.therapy-modal-title {
    text-align: center;
    font-size: 1.2rem;
    padding: 5px 0;
    font-size: 2rem;
}




@media screen and (max-width: 768px) {
    .therapy-wrapper {
        grid-template-columns: 1fr;
    }
    .therapy-right-wrapper {
        grid-template-columns: 1fr;
    }
    .bg-5 {
        height: 350px;
    }
    .sale-wrapper {
        padding: 20px;
    }
}