<div class="position-relative z-200">
    <div class="therapy-wrapper">
        <div class="therapy-right-wrapper"
            [ngStyle]="{'grid-template-rows.px': therapies.length > therapyLimitForGridLayoutChange ? '150' : '250', 'grid-auto-rows.px': therapies.length > therapyLimitForGridLayoutChange ? '150' : '250'}">
            <div class="d-flex justify-content-center align-items-end"
                *ngFor="let therapy of therapies; let i = index; let l = count;">
                <a (click)="setModal(therapy)"
                    [ngStyle]="{'height.px': therapies.length > therapyLimitForGridLayoutChange ? '150' :'250'}">
                    <div class="bg"
                        [ngStyle]="{'background-image': 'url(' + therapy.bgImage + ')', 'height.px': therapies.length > therapyLimitForGridLayoutChange ? '150' : '250'}">
                    </div>
                    <div class="bg-overlay"></div>
                    <p class="therapy-title">{{therapy.title}}</p>
                </a>
            </div>
        </div>
        <div (click)="closeModal()">
            <div class="bg bg-5 d-flex justify-content-center align-items-end">

            </div>
            <div class="sale-wrapper">
                <h2>חבילת ספא מפנקת שלנו</h2>
                <p>חוגגים אירוע מיוחד? מחפשים סיבה לחופשה? רוצים ליהנות מיום שכולו פינוקים וחוויות? כאן תוכלו להתעדכן
                    במבחר
                    חבילות ספא מפנקות בתל אביב, חוויה בלתי נשכחות לאמצע שבוע וסוף שבוע.
                </p>
            </div>
        </div>
    </div>

    <div class="position-absolute therapy-modal" *ngIf="showTherapyModal">
        <div class="modal-img" #therapyModal [@dialog]
            [ngStyle]="{'background-image': 'url(' + therapyObjectInModal.bgImage + ')'}">
            <button type="button" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="therapy-desc-wrapper">
                <p class="therapy-modal-title">{{therapyObjectInModal.title}}</p>
                <p>{{therapyObjectInModal.description}}</p>
            </div>
        </div>
    </div>
</div>