
a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    position: relative;
}
a:hover {
    color: blue;
}
img {
    width: 100%;
}
.therapy-wrapper  {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
}
.therapy-right-wrapper {
    position: sticky;
    display: grid;
    grid-template-columns: 1fr 1fr;
    // gap: 10px;

    & > div {
        box-shadow: 0 0 20px 1px rgb(0 0 0 / 20%);
    }
}

.bg {
    background-size: cover;
    // transition: all 0.4s ease-out;
    height: inherit;
}
.bg-overlay {
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: -webkit-fill-available;
    transition: all 0.7s ease-in;
}
.therapy-title {
    position: absolute;
    top: 75%;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    background-color: #2121213d;
    padding: 5px 0;
}
.bg-5 {
    background-image: url("../../../../../assets/media/stock-600x400/img-1.jpg");
}
.sale-wrapper {
    padding: 20px 50px;
}

.show-img {
    z-index: 200;
    transition: 800ms;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.685);
    position: absolute;
    top: 0;
    left: 0;
    }



@media screen and (max-width: 768px) {
    .therapy-wrapper {
        grid-template-columns: 1fr;
    }
    .therapy-right-wrapper {
        grid-template-columns: 1fr;
    }
    .bg-5 {
        height: 350px;
    }
    .sale-wrapper {
        padding: 20px;
    }
}