<div class="therapy-wrapper">
    <div class="therapy-right-wrapper"
        [ngStyle]="{'grid-template-rows.px': therapyImgHeight, 'grid-auto-rows.px': therapyImgHeight, 'height.px': therapyGridHeight, 'gap.px': gridGap}">
        <div  (click)="mouseEnter(i, therapyEl, therapy)" class="d-flex justify-content-center align-items-end cursor-pointer" *ngFor="let therapy of allServices | async; let i = index"
             (mouseleave)="mouseLeave(therapy, therapyEl)">
            <a [ngStyle]="{'height.px': therapyImgHeight}" #therapyEl>
                <div class="bg" [ngStyle]="{'background-image': 'url(' + pattern + therapy._id + ')'}"></div>
                <div class="bg-overlay"></div>
                <p class="therapy-title" dir="rtl"><span *ngIf='!details'>{{therapy.name}}</span> <b *ngIf='details'><h1>{{therapy.name}}</h1></b> <span *ngIf='details'><h5><br><br> {{therapy.description}} <br><br> מחיר : {{therapy.price}} ₪ <br><br>  זמן : {{therapy.minutes}} דק</h5> </span><span *ngIf='details'><br> <button type="button" class="btn btn-light" (click)='onClickService(therapy)'>בחירה</button></span> </p>
            </a>
        </div>
    </div>
    <div [ngStyle]="{'height.px': therapyGridHeight}" *ngIf="screenWidth > mobileBreakpoint">
        <div class="bg bg-5" [ngStyle]="{'height.%': leftImgSize}">

        </div>
        <div class="sale-wrapper">
            <h2>חבילות מסאג' מפנקות שלנו</h2>
            <p>  מתנה לבת/בן זוג? מחפשים סיבה לנוח? רוצים ליהנות מיום שכולו פינוקים ? כאן תוכלו לקבל שירות מסאג' הכי טוב בארץ, חוויה בלתי נשכחות לאמצע שבוע וסוף שבוע.
            </p>
        </div>
    </div>
</div>