<div>
    <div class="container">
        <div class="row justify justify-content-center">
            <div class="w-100 p-3">
                <div class="card p-1 bg-survival101">
                    <div class="row mt-0">
                        <div class="col-md-12 ">
                            <br>
                            <h4 class="text-center uppercase">אודות</h4>
                            <hr>
                        </div>
                    </div>
                    <div class="form-group row mb-3">
                        <div class="col-md-12 area" dir="rtl">
                            luxury-massages הינה חברה מובילה ומנוסה אשר מעניקה עיסויים רפואיים לאנשים, על ידי מטפלים מוסמכים מומחים מהשורה הראשונה. 
אנחנו מאמינים שכולנו צריכים, מדי פעם, לעצור ולקחת רגע קטן של נחת מהעבודה, מהמשפחה וממשימות החיים, לנשום ולתת לגופנו טיפול מרפא ומרגיע, מסאג' טוב כזה שיחדש את האנרגיה בגופנו, ימגר את הכאב ויסייע לנו להמשיך בשגרת חיינו כשאנחנו מרגישים טוב בגופנו, כשאנחנו נינוחים ושלווים יותר. 
תחשבו על זה, מי מאיתנו לא זקוק למגע? לפעמים אנחנו כל כך עסוקים בעומס של חיי היומיום, עד כדי כך שאנחנו בכלל לא שמים לב עד כמה הגוף שלנו זקוק נואשות למגע, להרפיה, לתשומת לב. הגוף והנפש קשורים קשר הדוק זה בזה ויש ביניהם יחסי גומלין הדדיים, לכן חשוב מאוד להעניק לגופנו את המגע שהוא זקוק לו, כי בעזרתו אנחנו נרגיש טוב יותר גם מבחינה נפשית. 
עיסוי רפואי נועד לשפר את רמת התפקוד של המערכות בגופנו, להזרים את הדם, להפחית מתח בשרירים, לשחרר שרירים תפוסים, לשפר את טווחי תנועת המפרקים ולהפחית או למגר את כאבי הראש, השרירים והגב. 
luxury-massages שמה דגש על מקצועיות גבוהה ומקפידה להשתמש בטכניקות עיסוי שמותאמות לכל מטופל באופן אינדיבידואלי בהתאם למצבו הרפואי והפיזי, תוך הקשבה מלאה לרצונותיו ולצרכיו. 
אצלנו תוכלו לקבל טיפול מקצועי, מותאם אישית, ממטפלים מוסמכים מומחים ומנוסים, שיגיעו אליכם בשירות עד הבית עם מיטת עיסוי, מגבות ושמנים. כל שנותר לכם זה להתמסר לטיפול וליהנות. 
אנחנו מציעים מגוון רחב של טיפולי מגע כגון:  עיסוי שוודי הוליסטי, עיסוי נשים הרות, עיסוי שמנים אתריים, עיסוי פנים, עיסוי רפואי ועוד. צוות המטפלים שלנו נבחר בקפידה, ואנחנו בוחרים עבורכם את המטפלים הטובים ביותר, וזאת בכדי להעניק לכם טיפול איכותי, קשוב ומקצועי לצד שירות אדיב, מסור, אוזן קשבת ורגישות. 

במסגרת הטיפול הראשוני, המטפל יבצע תשאול ואבחון דלקות טרם הטיפול, וזאת על מנת להתאים את הטיפול המיטבי עבורכם. הטיפול אורך בין שעה לשעה וחצי, והוא מתבצע בשכיבה על מיטת הטיפולים, כשהמטופל חושף כל פעם חלק בגופו לצורך הטיפול. 

עיסוי רפואי ב- luxury-massagesמיועד לאנשים שסובלים מבעיות רפואיות כגון: כאבי ראש, כאבי גב, כאבי שרירים, כאבי רגליים, לנשים בהריון שזקוקות להזרמת דם בגפיים ולאנשים שזקוקים להפחית סטרס ומתח נפשי. 

אז הגיע הזמן לתת לעצמכם או ליקיריכם מתנה מפנקת ולהזמין עיסוי רפואי מפנק עד הבית! להזמנת תור לעיסוי עד הבית באזור המרכז והשפלה התקשרו 053-6259999, אנחנו כאן בשבילכם!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
