.bg-survival101 {
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
}

hr { 
    border-top: 1px solid white;
    width:70%;
}

.uppercase {
    text-transform: uppercase;
}

.area{
    word-wrap: break-word;
    font-size: 120%;
    padding: 2%;
    line-height: 1.8;
    text-align: right;
}