<!-- --------------------------------------------------------- -->
<div class="backdrop" #backdrop (click)="closeModal()"></div>
<app-carousel></app-carousel>

<!-- <app-featured-carousel></app-featured-carousel> -->
<div class="left-side ml-md-3">
  <div class="ads">
    <div class="ads-item" *ngFor="let ad of featuredAds">
      <img src={{ad.img}}>
      <p>{{ad.title}}</p>
    </div>
  </div>
</div>
<div class="right-side">
  <div class="rtl">
    <div class="mb-5" *ngFor="let article of allArticles | async; let i = index">
      <app-article-card [article]="article"></app-article-card>
    </div>
  </div>
</div>
<div class="m-md-5 mx-2 rtl clear-both">
  <app-therapy></app-therapy>
</div>

<!-- <app-massages-list></app-massages-list> -->



<!-- ----------------------------------------------------------------------------------- -->
<!-- <div class=""> -->
<!-- <div class="row"> -->
<!-- <div class="col-lg-2 ad-right-vert">
      <div class="list-group">
        <a class="list-group-item" style="border: none;" href="#!"><img
            src="./assets/advertisings/default-vertical.gif"></a>
      </div>
</div> -->
<!-- <div class="col-lg-14"> -->
<!-- <app-carousel></app-carousel> -->
<!-- <div class="row"> -->
<!-- <app-massages-list></app-massages-list> -->
<!-- <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                      <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                      <div class="card-body">
                          <h4 class="card-title"><a href="#!">Item One</a></h4>
                          <h5>$24.99</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                      <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                      <div class="card-body">
                          <h4 class="card-title"><a href="#!">Item Two</a></h4>
                          <h5>$24.99</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                      </div>
                      <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                      <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                      <div class="card-body">
                          <h4 class="card-title"><a href="#!">Item Three</a></h4>
                          <h5>$24.99</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                      <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                      <div class="card-body">
                          <h4 class="card-title"><a href="#!">Item Four</a></h4>
                          <h5>$24.99</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                      <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                      <div class="card-body">
                          <h4 class="card-title"><a href="#!">Item Five</a></h4>
                          <h5>$24.99</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
                      </div>
                      <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div>
                  </div>
              </div>
              <div class="col-lg-4 col-md-6 mb-4">
                  <div class="card h-100">
                      <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
                      <div class="card-body">
                          <h4 class="card-title"><a href="#!">Item Six</a></h4>
                          <h5>$24.99</h5>
                          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
                      </div>
                      <div class="card-footer"><small class="text-muted">★ ★ ★ ★ ☆</small></div>
                  </div>
              </div> -->
<!-- </div> -->
<!-- </div>
  </div>
</div> -->

<!-- ----------------------------------------------------------------------------------------------- -->
<!-- <div class="">
<app-carousel></app-carousel>

  <div class="row">
    <div class="col-sm-2 ad-left-vert">
      <img
        src="../../../assets/advertisings/default-vertical.gif">
    </div>
    <div class="col-sm-8">

<app-massages-list></app-massages-list>
</div>
<div class="col-sm-2 ad-right-vert">
  <img style="float: right;"
    src="../../../assets/advertisings/default-vertical.gif">
</div>
</div>
</div> -->

<!-- ------------------------------------------------------------------------------------------------ -->

<!-- <div class="row">
  <div class="col-xl-4">
    <app-mixed-widget4 cssClass="gutter-b card-stretch"></app-mixed-widget4>
  </div>
  <div class="col-xl-8">
    <app-base-tables-widget6 class="gutter-b"></app-base-tables-widget6>
  </div>
</div>

<div class="row">
  <div class="col-xl-4">
    <div class="row">
      <div class="col-xl-12">
        <app-stats-widget11
          cssClass="gutter-b"
          symbolShape="symbol-circle"
          baseColor="danger"
        ></app-stats-widget11>
      </div>
      <div class="col-xl-12">
        <app-stats-widget10
          cssClass="gutter-b"
          symbolShape="symbol-circle"
          baseColor="info"
        ></app-stats-widget10>
      </div>
    </div>
  </div>
  <div class="col-xl-8">
    <app-lists-widget14 cssClass="gutter-b card-stretch"></app-lists-widget14>
  </div>
</div> -->

<!--begin::Row-->
<!-- <div class="row">
  <div class="col-lg-12 col-xxl-12">
    <app-advance-tables-widget9
      cssClass="card-stretch gutter-b"
    ></app-advance-tables-widget9>
  </div>
</div> -->
<!--end::Row-->

<!--begin::Row-->
<!-- <div class="row">
  <div class="col-xl-6">
    <app-lists-widget10 cssClass="card-stretch gutter-b"></app-lists-widget10>
  </div>
  <div class="col-xl-6">
    <app-base-tables-widget1
      cssClass="card-stretch gutter-b"
    ></app-base-tables-widget1>
  </div>
</div> -->
<!--end::Row-->

<!--begin::Row-->
<!-- <div class="row">
  <div class="col-lg-4">
    <app-lists-widget8 cssClass="card-stretch gutter-b"></app-lists-widget8>
  </div>
  <div class="col-lg-8">
    <app-base-tables-widget2
      cssClass="card-stretch gutter-b"
    ></app-base-tables-widget2>
  </div>
</div> -->
<!--end::Row-->