.grid-wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding-bottom: 6rem;
    gap: 0px 15px;
}
.ads {
    // border: 1px dashed #7e7c7c;
    display: grid;
    grid-template-columns: 1fr;
}
.ads-item p {
    text-align: center;
}
.ads-item:nth-child(1) {
    background-color: #f9da49;
}
.ads-item:nth-child(2) {
    background-color: #fbbfc1;
}
.ads-item:nth-child(3) {
    background-color: #307cc2;
}
.ads-item:nth-child(4) {
    background-color: #c9e1ed;
}
.rtl {
    direction: rtl;
    text-align: right;
}


@media screen and (max-width: 768px) {
    .grid-wrapper {
        grid-template-columns: 1fr;
    }
    .articles-grid {
        order: 1;
    }
    .ads {
        order: 2;
    }
}

img {
	height: 60%;
	width: 100%;
}