<div class="card card-custom">
    <!-- Header -->
    <div class="card-header border-0 py-5">
        <h3 class="card-title align-items-start flex-column">
            <span class="card-label font-weight-bolder text-dark">ניהול מאמרים</span>
        </h3>
        <div class="card-toolbar" (click)="onClickCreate()">
            <a class="btn btn-success font-weight-bolder font-size-sm"><span
                    [inlineSVG]="'./assets/media/svg/icons/Communication/Add-user.svg'"
                    class="svg-icon svg-icon-md svg-icon-white"></span>
                הוסף מאמר חדש
            </a>
        </div>
    </div>
    <!--begin::Body-->
    <div class="card-body py-0 mb-5">
<!-- -------------------------------------------------- -->

<main class="container mb-5">
	<article class="postcard blue" *ngFor="let article of allArticles | async; let i = index">
		<a class="postcard__img_link" *ngIf='article.img'>
			<img class="postcard__img" [src]="pattern + article._id" alt="Image Title" />
		</a>
		<div class="postcard__text">
			<h1 class="postcard__title blue" dir="rtl"><a href="#">{{article.title}}</a></h1>
			<div class="postcard__subtitle small">
				<time datetime="2020-05-25 12:00:00">
					<i class="fas fa-calendar-alt mr-2"></i>{{article.createAt | date}}
				</time>
			</div>
			<div class="postcard__bar"></div>
			<div class="postcard__preview-txt" dir="rtl" [innerHTML]="article.body"></div>
            <input type="checkbox" class="custom-control-input">
            <div class="d-flex flex-column w-100 mr-2 custom-control custom-switch">
                <input type="checkbox" checked class="custom-control-input" id="customSwitch{{article._id}}" *ngIf='article.actif' (change)="onChangeActif($event, article._id)">
                <input type="checkbox" class="custom-control-input" id="customSwitch{{article._id}}" *ngIf='!article.actif' (change)="onChangeActif($event, article._id)">
                <label class="custom-control-label" for="customSwitch{{article._id}}">פעיל</label>
              </div>
		</div>
	</article>
</main>





<!-- ------------------------------------------------- -->
    </div>
    <!--end::Body-->
</div>