<!--begin::Advance Table Widget 9-->
<div class="card card-custom">
  <!--begin::Header-->
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">ממליצים</span>
      <!-- <span class="text-muted mt-3 font-weight-bold font-size-sm">המלצות {{(allReviews | async).length}}</span> -->
    </h3>
    <!-- <div class="card-toolbar">
      <a class="btn btn-danger font-weight-bolder font-size-sm">Create</a>
    </div> -->
  </div>
  <!--end::Header-->

  <!--begin::Body-->
  <div class="card-body pt-0 pb-3">

    <label> : שליחת המלצה</label>
    <form class="form-inline">
      <div class="form-group mb-2">
        <input dir="rtl" type="text" class="form-control" id="nameInput" name="name" [(ngModel)]="name" placeholder="שם">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <!-- <label for="messageInput" class="mr-3">המלצה</label> -->
        <input dir="rtl" type="text" class="form-control" id="messageInput" name="message" [(ngModel)]="message" placeholder="המלצה">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <!-- <label for="rateInput" class="mr-3">ציון</label> -->
        <ngb-rating [max]="5" [(rate)]="rating" id="rateInput"></ngb-rating>
      </div>
      <button type="submit" class="btn btn-primary mb-2 test" (click)="onClick()">שלח</button>
    </form>


    <div class="tab-content" style="margin-bottom: 10%;">
      <!--begin::Table-->
      <!-- <div class="table-responsive">
        <table class="table table-head-custom table-vertical-center table-head-bg table-borderless">
          <thead>
            <tr>
              <th>
                <span class="text-dark-75">שם</span>
              </th>
              <th>המלצה</th>
              <th>ציון</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let review of allReviews | async">
              <td>
                <div class="d-flex align-items-center">
                  <div>
                    <a class="text-dark-75 font-weight-bolder text-hover-primary font-size-lg">{{review.name}}</a>
                  </div>
                </div>
              </td>
              <td>
                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">{{review.body}}</span>
              </td>
              <td>
                <span class="text-dark-75 font-weight-bolder d-block font-size-lg">
                  <ngb-rating [max]="5" [(rate)]="review.rating" [readonly]="true"></ngb-rating>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div> -->
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let student of students">
            <div id="login-container">
              <div class="profile-img">
                <img src="{{student.img}}" alt="">
              </div>
              <h1><h1>{{student.name }}</h1></h1>
              <div class="description">{{student.text }}</div>
            </div>
        </ng-template>  
      </owl-carousel-o>
      <!--end::Table-->
    </div>
  </div>
  <!--end::Body-->
</div>

<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let review of allReviews | async">
      <div id="login-container">
        <div class="profile-img">
          <img src="https://images.unsplash.com/photo-1504933350103-e840ede978d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
        </div>
        <h1><h1>{{review.name }}</h1></h1>
        <div class="description">{{review.body }}</div>
      </div>
  </ng-template>  
</owl-carousel-o> -->
<!--end::Advance Table Widget 9-->