<!--begin::Advance Table Widget 9-->
<div class="card card-custom">
  <!--begin::Header-->
  <div class="card-header border-0 py-5">
    <h3 class="card-title align-items-start flex-column">
      <span class="card-label font-weight-bolder text-dark">ממליצים</span>
      <!-- <span class="text-muted mt-3 font-weight-bold font-size-sm">המלצות {{(allReviews | async).length}}</span> -->
    </h3>
    <!-- <div class="card-toolbar">
      <a class="btn btn-danger font-weight-bolder font-size-sm">Create</a>
    </div> -->
  </div>
  <!--end::Header-->

  <!--begin::Body-->
  <div class="card-body pt-0 pb-3">

    <h3> שליחת המלצה :</h3>
    <form class="form-inline">
      <h5><ngb-rating [max]="5" [(rate)]="rating" id="rateInput" (click)="onClickCreate()"></ngb-rating></h5>
      <!-- <div class="form-group mb-2">
        <input dir="rtl" type="text" class="form-control" id="nameInput" name="name" [(ngModel)]="name" placeholder="שם">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input dir="rtl" type="text" class="form-control" id="messageInput" name="message" [(ngModel)]="message" placeholder="המלצה">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <input dir="rtl" type="file" class="form-control" id="imageInput" name="image" (change)="onFileChange($event)">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <ngb-rating [max]="5" [(rate)]="rating" id="rateInput"></ngb-rating>
      </div>
      <button type="submit" class="btn btn-primary mb-2 test" (click)="onClick()">שלח</button> -->
    </form>

    <div class="tab-content" style="margin-bottom: 10%;">
      
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let review of allReviews | async">
            <div id="login-container">
              <div class="profile-img">
                <img [src]="pattern + review._id" alt="">
              </div>
              <h1><h1>{{review.name }}</h1></h1>
              <div class="description">{{review.body }}</div>
            </div>
        </ng-template>  
      </owl-carousel-o>
    </div>
  </div>
  <!--end::Body-->
</div>

<!-- <owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide *ngFor="let review of allReviews | async">
      <div id="login-container">
        <div class="profile-img">
          <img src="https://images.unsplash.com/photo-1504933350103-e840ede978d4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=564&q=80" alt="">
        </div>
        <h1><h1>{{review.name }}</h1></h1>
        <div class="description">{{review.body }}</div>
      </div>
  </ng-template>  
</owl-carousel-o> -->
<!--end::Advance Table Widget 9-->