<!-- begin::Header Nav -->
<ul class="menu-nav" [ngClass]="ulCSSClasses">
  <!-- begin::1 Level -->
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active">
    <a class="menu-link" routerLink="/dashboard" routerLinkActive="active">
      <span class="menu-text" translate="MENU.HOME"></span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" *ngIf="role==2">
    <a class="menu-link" routerLink="/dashboard/profile" routerLinkActive="active">
      <span class="menu-text">פרופיל</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" *ngIf="role==1">
    <a class="menu-link" routerLink="/dashboard/admin/ads" routerLinkActive="active">
      <span class="menu-text svg-icon svg-icon-md svg-icon-primary">ניהול פרסומות</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>

  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" *ngIf="role==1">
    <a class="menu-link" routerLink="/dashboard/admin/worker" routerLinkActive="active">
      <span class="menu-text svg-icon svg-icon-md svg-icon-primary">ניהול עובדים</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>

  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" *ngIf="role==1">
    <a class="menu-link" routerLink="/dashboard/admin/distributor" routerLinkActive="active">
      <span class="menu-text svg-icon svg-icon-md svg-icon-primary">ניהול מפיצים</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>

  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" *ngIf="role==1">
    <a class="menu-link" routerLink="/dashboard/admin/article" routerLinkActive="active">
      <span class="menu-text svg-icon svg-icon-md svg-icon-primary">ניהול מאמרים</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>

  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" *ngIf="role==3 || !role">
    <a class="menu-link" routerLink="/dashboard/therapy" routerLinkActive="active">
      <span class="menu-text svg-icon svg-icon-md svg-icon-primary">הטפולים שלנו</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>

  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" *ngIf="role==3 || !role">
    <a class="menu-link" routerLinkActive="active">
      <span class="menu-text svg-icon svg-icon-md svg-icon-primary">צור קשר</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>

  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" *ngIf="role==3 || !role">
    <a class="menu-link" routerLinkActive="active">
      <span class="menu-text svg-icon svg-icon-md svg-icon-primary">אודות</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>


  <li class="menu-item menu-item-rel" routerLinkActive="menu-item-active" *ngIf="role==2">
    <a class="menu-link" routerLink="/dashboard/availabilities" routerLinkActive="active">
      <span class="menu-text">שליחת אילוצים</span>
      <ng-container *ngIf="rootArrowEnabled">
        <i class="menu-arrow"></i>
      </ng-container>
    </a>
  </li>
</ul>
<!-- end::Header Nav -->
