<div class="card">
    <div class="row no-gutters card-wrapper">
        <div class="col-md-4 img-card-wrapper" *ngIf='article.img'>
            <img [src]="pattern + article._id" class="card-img-top" alt="...">
        </div>
        <div class="col-md-8">
            <a>
                <div class="card-body">
                    <h1 class="card-title">{{article.title}}</h1>
                    <p class="card-text" [innerHTML]="article.body | slice:0:300"></p><h5 class="cursor-pointer" *ngIf="(article.body).length > 300" (click)="onClickMore()"><span class="badge badge-pill badge-secondary">קרא עוד...</span></h5>
                    <p class="card-text"><small class="text-muted">{{article.createAt | date}}</small></p>
                </div>
            </a>
        </div>
    </div>
</div>