a {
    text-decoration: none;
    color: inherit;
    transition: all 0.4s ease;
}
// a:hover {
//     color: blue;
//     transition: all 0.8s ease;
// }
.card {
    border: none;
}

.card-title {
    font-size: 2rem;
    color: black;
    font-weight: 600;
}
// .card-text {
//     font-size: 18px;
// }
img {
    box-shadow: 0px 0px 5px 1px #757575;
}

@media screen and (max-width: 768px) {
    .img-card-wrapper{
        width: 65%;
    }
    .card-wrapper {
        flex-wrap: nowrap;
        align-items: center;
    }
    .card-title {
        font-size: 2rem;
    }
    .card-text {
        font-size: 1.3rem;
    }
}

// .content { 
//     margin-bottom: 5%;
//     text-align: center;
//     background-color: red;
//     padding: 10px 25px 10px 25px;  text-transform:uppercase;
//     // border: 1px solid #000; 
// }