<!--begin::Main-->
<ng-container *ngIf="selfLayout !== 'blank'; else blankLayout">
  <!-- begin:: Header Mobile -->
  <app-header-mobile #ktHeaderMobile id="kt_header_mobile" class="header-mobile align-items-center"
    [ngClass]="headerMobileClasses"></app-header-mobile>
  <!-- end:: Header Mobile -->
  <div class="d-flex flex-column flex-root">
    <!--begin::Page-->

    <!-- <div class="d-flex flex-row flex-column-fluid page"> -->
    <div class="">

      <!--begin::Wrapper-->
      <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
        <!-- <div class="" id="kt_wrapper"> -->

        <!-- begin:: Header -->
        <app-header #ktHeader id="kt_header" class="header" [ngClass]="headerCSSClasses"></app-header>

        <!-- end:: Header -->


        <!-- begin:: Content -->
        <div class="content" id="kt_content" [ngClass]="contentClasses">

          <!-- begin:: Content Body -->
          <!-- <ng-container *ngIf="contentExtended"> -->
            <router-outlet></router-outlet>
          <!-- </ng-container> -->
          <!--<ng-container *ngIf="!contentExtended">
            <div class="d-flex flex-column-fluid align-items-center">
              <div [ngClass]="contentContainerClasses" class="">
                <router-outlet></router-outlet>
              </div>
            </div>
          </ng-container> -->
          <!-- end:: Content Body -->
        </div>

        <!-- end:: Content -->
        <!-- <ng-container *ngIf="footerDisplay"> -->
          <!--begin::Footer-->
          <!-- <app-footer class="footer mt-5 bg-white py-4 d-flex flex-lg-column w-100" id="kt_footer"
            [ngClass]="footerCSSClasses"></app-footer> -->
          <!--end::Footer-->
        <!-- </ng-container> -->
      </div>
      <!--end::Wrapper-->
    </div>
    <!-- end:: Body -->
    <!--end::Page-->
  </div>
</ng-container>

<ng-template #blankLayout>
  <div class="d-flex flex-column flex-root">
    <router-outlet></router-outlet>
  </div>
</ng-template>
<app-scripts-init></app-scripts-init>
<!--end::Main-->