<div class="container">
    <div class="row">
      <div class="col-md-12 mt-5">
        <h1 lang="en" dir="ltr" class="heading text-center inline">
          Luxury massages
          <span dir="rtl" lang="he" class="heading text-center inline">
            תקנון, תנאי שימוש ומדיניות פרטיות לאתר
          </span>
        </h1>
  
        <div style="float: right;">
          <span dir="rtl" lang="he" class="heading2 inline">
            Luxury massages מודים על בחירתכם לגלוש באתר האינטרנט המופעל בכתובת:
          </span>
          <br />
          <span dir="rtl" lang="he" class="heading2 inline float-end">
            <span lang="en" dir="ltr">www.Luxury-massages.com</span>
          </span>
          <br />
          <span dir="rtl" lang="he" class="heading2 inline float-end">
            <span lang="en" dir="ltr">Luxury massages</span> הוקם במטרה להעניק
            ללקוחות האתר עיסויים רפואיים, על ידי מטפלים
          </span>
  
          <br />
  
          <span dir="rtl" lang="he" class="heading2 inline float-end">
            מוסמכים בזמן ובמקום שיבחר הלקוח <strong>("השירותים") </strong>. וכן
            ניתן למצוא באתר מידע אודות השירותים
          </span>
          <br />
          <span dir="rtl" lang="he" class="heading2 inline float-end">
            והסדנאות המוצעים לרכישה ללקוחות.
          </span>
        </div>
      </div>
    </div>
  </div>
  
  <hr class="mt-5" />
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ol class="">
          <!-- Step 1 -->
          <li class="text1" dir="rtl" lang="he">
            .כללי:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  .הגלישה באתר כפופה לתנאים המפורטים בתקנון ותנאי שימוש אלו
                  )״התקנון״(. קרא את התקנון בקפידה, שכן הגלישה באתר וביצוע פעולות
                  בו מעידים על הסכמתך לתנאים הכלולים בתקנון. כמו כן, האתר שומר את
                  זכות ו לשנות את תנאי התקנון, מעת לעת, על פי שיקול דעתו הבלעדי
                  וללא הודעה מוקדמת. מועד החלת השינוי כאמור יהיה מרגע פרסומו באתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .האמור בתקנון זה מתייחס באופן שווה לבני שני המינים והשימוש בלשון
                  זכר ו/או נקבה הוא מטעמי נוחות בלבד.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .תנאים אלו חלים על שימוש באתר ובתכנים הכלולים בו באמצעות כל מחשב
                  או מכשיר תקשורת אחר )כדוגמת טלפון סלולרי, מחשבי טאבלט וכיו"ב(.
                  כמו כן הם חלים על השימוש באתר, בין באמצעות רשת האינטרנט ובין
                  באמצעות כל רשת או אמצעי תקשורת אחרים.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .הגלישה באתר מיועדת לכל גיל, פעולה באתר של קטין מתחת לגיל 18
                  מחייבת אישור הורה או אפוטרופוס.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .במקרה שייקבע כי הוראה בתקנון זה אינה ניתנת לאכיפה או שהינה חסרת
                  תוקף מטעם כלשהו, לא יהא בכך כדי להשפיע או לפגוע בחוקיותן, תקפותן
                  ואכיפתן של שאר הוראות התקנון.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  האתר רשאי למנוע מכל גולש שימוש באתר לפי שיקול דעתו המוחלט. מבלי
                  לגרוע מהאמור לעיל, רשאי האתר לחסום גישתו אליו בכל אחד מהמקרים
                  הבאים:
                </span>
                <ol>
                  <li class="text1">
                    <span class="li-text">
                      .אם בעת השארת פרטים באתר נמסרו במתכוון פרטים שגויים;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .במקרה שנעשה שימוש באתר לביצוע או כדי לנסות לבצע מעשה בלתי
                      חוקי על-פי דיני מדינת ישראל, או מעשה הנחזה על פניו כבלתי
                      חוקי כאמור, או כדי לאפשר, להקל, לסייע או לעודד ביצועו של
                      מעשה כזה;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text"> .אם הופרו תנאי שימוש אלה; </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .אם נעשה שימוש באתר במטרה להתחרות באתר;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      אם נעשתה על ידי גולש כל פעולה שתמנע מאחרים לגלוש ולהשתמש
                      באתר בכל דרך שהיא
                    </span>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <!-- Step 1 -->
  
          <!-- Step 2 -->
          <li class="text1" dir="rtl" lang="he">
            הצהרה:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  בטרם השימוש באתר, גולשי ולקוחות האתר מצהירים, מאשרים ומסכימים כי
                  ידוע להם:
                </span>
                <ol>
                  <li class="text1">
                    <span class="li-text">
                      שללקוחות האתר לא תהיה כל טענה כלפי האתר, מנהליו, עובדיו או
                      מי מטעמו והם לא יהיו אחראים, באופן ישיר או עקיף, לכל נזק
                      לרבות, לגוף, לרכוש או לכל נזק אחר או לכל הפסד אחר, אשר יגרם
                      כתוצאה מקבלת תוכן מה אתר ו/או מהשירותים הניתנים באתר, אפילו
                      אם האתר הזהיר, המליץ או ייעץ לעניין מסוים או על שירות מסוים
                      ובשום מקרה האתר לא יהווה תחליף או יישא באחריות הלקוח ו/או
                      מקבל השירות. על הלקוח חלה האחריות וכל סיכון חובה עבור נזק
                      וחבלה לגופו ו/או לרכושו ו/או לרכושם ו/או לגופם של צדדים
                      שלישיים, הנובעים מהשימוש ו/או אי השימוש בשירותים המוצגים
                      באתר.
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .נשים הרות מתבקשות לעדכן את האתר לצורך קבלת עיסוי מתאים.
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .השירותים באתר אינם מובאים כתחליף לייעוץ פרטני ו/או טיפול
                      רפואי, ואין לראות בהם טיפול ו/או ייעוץ של אנשי מקצוע, כגון
                      רופאים, פיזיותרפיסטים וכדומה;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      שהאתר ניתן לשימוש כפי שהוא )IS AS )והשימוש בו הוא על אחריותו
                      המלאה של הגולש;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      שלא ניתן לעשות שימוש באתר ללא אישור ופיקוח מבוגר בעל כשירות
                      משפטית מגיל 18 ומעלה;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      שבשימוש באתר הגולש לא יפר כל חוק, תקנה או הוראה שלטונית
                      אחרת.
                    </span>
                  </li>
                </ol>
              </li>
              <li class="text1">
                <span class="li-text">
                  גולשי האתר הרוכשים את שירותי האתר מצהירים כי הם במצב פיזי טוב
                  וכי אינם סובלים מבעיות רפואיות העלולות לסכן אותם כתוצאה מקבלת
                  העיסוי וכי הם מסוגלים לקבל עיסוי וכי קבלת העיסוי כאמור לא יפגע
                  בבריאותם, ביטחונם, נוחיותם או מצבם הפיזי.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .האתר אינו מתחייב בנוגע למידת הדיוק או השלמות של תיאורי השירות
                  באתר ולא יישא באחריות לכל שגיאה, טעות או נזק
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 2 -->
  
          <!-- Step 3 -->
          <li class="text1" dir="rtl" lang="he">
            הגלישה באתר:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  הגלישה באתר והעיון בו אינם דורשים הרשמה, והוא פתוח לכל גולש.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  האתר רשאי למנוע מכל גולש שימוש באתר לפי שיקול דעתו המוחלט. מבלי
                  לגרוע מהאמור לעיל, רשאי האתר לחסום גישתו אליו בכל אחד מהמקרים
                  הבאים:
                </span>
  
                <ol>
                  <li class="text1">
                    <span class="li-text">
                      אם בעת השארת פרטים באתר נמסרו במתכוון פרטים שגויים;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .במקרה שנעשה שימוש באתר לביצוע או כדי לנסות לבצע מעשה בלתי
                      חוקי על-פי דיני מדינת ישראל, או מעשה הנחזה על פניו כבלתי
                      חוקי כאמור, או כדי לאפשר, להקל, לסייע או לעודד ביצועו של
                      מעשה כזה;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text"> אם הופרו תנאי שימוש אלה; </span>
                  </li>
                  <li class="text1">
                    <span class="li-text"
                      >.אם נעשה שימוש באתר במטרה להתחרות באתר;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text"
                      >אם נעשתה על ידי גולש כל פעולה שתמנע מאחרים לגלוש ולהשתמש
                      באתר בכל דרך שהיא.
                    </span>
                  </li>
                </ol>
              </li>
            </ol>
          </li>
          <!-- Step 3 -->
  
          <!-- Step 4 -->
          <li class="text1" dir="rtl" lang="he">
            מחיר ורכישת השירותים באתר:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  האתר מציע רכישה קלה ומאובטחת של השירותים והרשמה לסדנאות.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .השירותים והסדנאות המוצעים לרכישה באתר יוצגו ויתוארו בדפי האתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .האתר אינו מחויב, בכל דרך שהיא, לקיים מגוון כלשהו של שירותים.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  האתר רשאי בכל עת לשנות את השירותים המוצעים באתר, להחליפם, להמעיט
                  מהם, להוסיף עליהם, ללא כל הודעה או התראה מוקדמת.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  השירות יינתן באזור המרכז והשפלה בהתאם למקום ולמועד אותו יקבע
                  הלקוח ובכפוף לאישור האתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .הסדנאות יועברו במקומות שונים בארץ בהתאם למפורט באתר ובהרשמה
                  מראש.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  תשלום דרך האתר יתבצע לאחר הרשמה לאתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  בהרשמה באתר הנך מסכים לשמור את סיסמתך בסודיות, והנך מאשר כי: )1
                  )חשבונך הוא אישי; )2 )אתה תהיה האחראי הבלעדי לכל פעולה או שימוש
                  שיעשו מחשבונך; ) 3 )לא תאפשר לאחר גישה לחשבונך;
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .המחיר המופיע באתר בצמוד לשירות הינו המחיר העדכני. האתר רשאי
                  לעדכן מעת לעת את המחירים, ללא קשר למועד ביצוע רכישה באתר, וללא
                  צורך בהודעה על כך.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  התשלום באתר בגין השירות יתבצע באמצעי התשלום המופיע בעמוד התשלום.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  הזמנת השירות באתר תבוצע בכפוף לאישור העסקה על ידי האתר. במקרה בו
                  לא אושרה העסקה על ידי האתר, יקבל הנרשם הודעה וחשבונו לא יחויב
                  בגין העסקה.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .התשלום בגין הזמנת השירות באתר יתבצע באמצעות כרטיס אשראי השייך
                  לרוכש או בכל אמצעי תשלום אחר המופיע בעמוד התשלום.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  מתן השירות יתאפשר בכפוף לשיקול דעתו הבלעדי של האתר והאתר לא יהא
                  אחראי לכל איחור ו/או עיכוב במתן השירות ו/או אי-מתן השירות,
                  כתוצאה מכוח עליון ו/או תקלות טכניות ו/או מאירועים שאינם בשליטתו.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .בעת הזמנה באתר, אתה אחראי לספק מידע נכון, מדויק, עדכני ומלא.
                  האתר רשאי לאמת את הפרטים שהוזנו לאחר ביצוע הזמנה, והוא רשאי לבטל
                  או להגביל את ההזמנה בכל עת. במידה ובוצע תשלום עבור הזמנה שבוטלה,
                  האתר יחזיר את סכום התשלום לאותו אמצעי התשלום.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  אם, מכל סיבה שהיא, חברת כרטיס האשראי תסרב להעביר את סכום התשלום
                  בגין רכישה באתר, האתר יהיה רשאי להשהות או להפסיק לאלתר את מתן
                  השירות והוא רשאי לדרוש את התשלום בתוספת עלות שנגרמה לאתר עקב
                  הסירוב )לרבות קנסות מצד צד שלישי( באמצעים אחרים, לשיקול דעתו של
                  האתר. במידה והאתר יאלץ לנקוט בהליכים משפטיים לגביית יתרות תשלום,
                  אתה מתחייב לשפות את האתר בכל ההוצאות שיגרמו לו, לרבות שכר טרחת
                  עורך דין והוצאות משפט נוספות.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  רכישה באתר כפופה לתנאים ולהגבלות נוספות של חברות האשראי ו/או כל
                  אמצעי תשלום אחר המופיע באתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .בנוסף להוראות התקנון יחולו גם הוראות תקנון חברת הסליקה או אמצעי
                  התשלום האחר. על אף האמור לעיל, האתר שומר לעצמו את הזכות לקבוע
                  הסדרי תשלומים אחרים, והכל על-פי שיקול דעתו הבלעדי.
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 4 -->
  
          <!-- Step 5 -->
          <li class="text1" dir="rtl" lang="he">
            מדיניות שינויים וביטולים:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  .בקשה להחזר, שינוי או ביטול עסקה תועבר לאתר באחד מאמצעי ההתקשרות
                  המופיעים בתחתית התקנון.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .ניתן לבטל את הזמנת השירות עד 14 ימים ממועד ביצוע העסקה ובתנאי
                  שנותרו לפחות יומיים, שאינם ימי מנוחה )חג או שבת(, עד למועד שנקבע
                  למתן השירות. לא יתאפשר ביטול עסקה לאחר מועד זה והרוכש לא יהיה
                  זכאי להחזר כספי כלשהו
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .יגבו דמי ביטול בגובה %5 מסכום המוצר או בסך 100 ש״ח )לפי הנמוך
                  מבניהם(.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  ביטול והחזר כספי יאושרו לאחר שהלקוח יקבל הודעה בכתב מהאתר המאשרת
                  זאת.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .ההחזר הכספי יעשה באמצעי התשלום באמצעותו ביצע הלקוח את הרכישה.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .האמור בסעיף 5 לעיל כפוף להוראות ביטול עסקה בהתאם לחוק הגנת
                  הצרכן, התשמ"א- .1981
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 5 -->
  
          <!-- Step 6 -->
          <li class="text1" dir="rtl" lang="he">
            .אחריות האתר:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  .אין לראות במידע המופיע באתר משום הבטחה לתוצאה כלשהי ו/או אחריות
                  לאופן הפעילויות של השירותים המוצעים בו. האתר לא י היה אחראי לשום
                  נזק, ישיר או עקיף, אשר ייגרם לגולש כתוצאה מהסתמכות על מידע
                  המופיע באתר ו/או בקישורים לאתרים אחרים ו/או כל מקור מידע פנימי
                  ו/או חיצוני אחר ו/או שימוש בשירותים אשר מוצגים על ידו.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .מידע ומצגים אודות שירותים המוצגים באתר, שמקורו בשותפיו העסקיים
                  של האתר ששירותיהם מופיעים באתר )ככל ויופיעו( וכל תוכן ביחס
                  לשירותים נמצאים באחריותם הבלעדית של השותפים העסקיים כאמור, ועל
                  כן, מובן שלאתר אין כל אחריות בגין מידע מעין זה, ואין האתר ערב
                  למידת הדיוק של מידע זה
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .האתר לא יהיה אחראי לכל נזק )ישיר או עקיף(, הפסד, עגמת נפש
                  והוצאות שייגרמו לגולשים ו/או לצדדים שלישיים כלשהם בעקבות שימוש
                  או הסתמכות על כל תוכן, מידע, נתון, מצג, תמונה, וידאו, אודיו,
                  פרסומת, מוצר, שירות וכו' המופעים באתר. כל הסתמכות כאמור נעשית
                  על-פי שיקול דעתו ואחריותו הבלעדית של הגולש באתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  האתר בשום מקרה לא יהיה אחראי לנזק שנגרם לגולש האתר באמצעות יצירת
                  קשר עם שותפיו העסקיים של האתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .האתר ממליץ לגולשים באתר לנהוג בזהירות, ול קרוא בעיון את המידע
                  המוצג באתר ובכלל זה את המידע ביחס לשירות עצמו, תיאורו והתאמתו,
                  כמתואר להלן.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .התכנים באתר ניתנים לשימוש כמות שהם )IS AS .)לא ניתן להתאימם
                  לצרכיו של כל אדם ואדם. לא תהיה לגולש כל טענה, תביעה או דרישה
                  כלפי האתר בגין תכונות של התכנים, יכולותיהם, מגבלותיהם ו/או
                  התאמתם לצרכיו.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .האתר בכללותו, לרבות כל המידע המופיע בו, מוצע לציבור כמות שהוא,
                  ויהיה מדויק ונכון ככל הניתן, ואולם, יתכן והמידע אינו שלם או
                  לחלופין, יתכן ונפלו טעויות טכניות או אחרות במידע.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .השימוש באתר ייעשה על אחריותו הבלעדית והמלאה של כל גולש. כל
                  החלטה שתתקבל ביחס לתכנים שיתפרסמו באתר הינה באחריותו המלאה של
                  הגולש. האתר אינו מתחייב כי תכנים ושירותים של צדדים שלישיים,
                  לרבות של ספקי תוכן ושירותים, המתפרסמים באתר, יהיו מלאים, נכונים,
                  חוקיים או מדויקים או יהלמו את ציפיותיו ודרישותיו של כל גולש.
                  האתר לא יישא באחריות כלשהי לכל תוצאה שתנבע מהם, או משימוש בהם,
                  או מהסתמכות עליהם
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 6 -->
  
          <!-- Step 7 -->
          <li class="text1" dir="rtl" lang="he">
            .הרשאה לדיוור, פרסומים ופרסומת:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  .גולש שהשאיר פרטים באתר ומצורף לרשימת הדיוור של האתר, מאשר שימוש
                  בפרטיו לצורך קבלת מידע שיווקי, עדכונים ופרסומות שיבצע האתר מעת
                  לעת.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .על גולש שהשאיר פרטים כאמור תחולנה הוראות הדיוור המפורטות בתקנון
                  להלן.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .אין להשאיר פרטים של אדם אחר באתר שלא בהסכמתו ו/או ללא נוכחותו
                  מול המסך בשעת השארת הפרטים ולאחר שהוסברו לו כל תנאי התקנון.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .בעת השארת הפרטים יתבקש הגולש למסור פרטים אישיים כגון: שם פרטי,
                  שם משפחה, וכן כתובת דואר אלקטרוני פעילה. מסירת פרטים חלקיים או
                  שגויים עלולים למנוע את האפשרות להשתמש בשירות ולסכל יצירת קשר
                  במקרה הצורך. במקרה של שינוי פרטים יש לעדכנם באתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .מובהר כי אין חובה על- פי חוק למסור פרטים באתר, אולם בלא למוסרם
                  לא ניתן יהיה לקבל תוכן שיווקי ועדכונים מהאתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  האתר לא יעשה בפרטים שנמסרו שימוש, אלא בהתאם למדיניות הפרטיות של
                  האתר המהווה חלק בלתי נפרד מהתקנון.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .השארת פרטים באתר ואישור לקבלת תוכן שיווקי כוללת, בין היתר, קבלת
                  תוכן שיווקי, מידע ביחס למבצעים, עדכונים והנחות המוצעים למשתמשים
                  רשומים
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .אישור דיוור )קבלת תוכן שיווקי( כאמור, מהווה את הסכמתו של הגולש
                  למשלוח דברי פרסומת על-פי חוק התקשורת )בזק ושידורים( )תיקון מס'
                  40 )התשס"ח – 2008" ( חוק התקשורת"(.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .מובהר כ י באפשרות משאיר הפרטים להסיר עצמו בכל עת מהדיוור
                  באמצעות לחיצה על "להסרה מרשימת התפוצה" שמופיע בתחתית כל דיוור
                  שנשלח או באמצעות פנייה בדוא"ל לאתר. כל עוד לא הסירו עצמו הנרשם
                  מרשימת הדיוור כאמור, רשאי האתר, בכפוף לחוק התקשורת, להעביר לנרשם
                  דיוור ישיר כאמור.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .אין לראות במידע בדיוור משום הבטחה לתוצאה כלשהי ו/או אחריות
                  לשירות המוצע בו.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .הדיוור בכללותו, לרבות כל המידע המופיע בו, מוצע כמות שהוא, ויהיה
                  מדויק ונכון ככל הניתן, ואולם, יתכן והמידע אינו שלם או לחלופין,
                  יתכן ונפלו טעויות טכניות או אחרות במידע.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .הגולש מאשר כי לא תהיה לו כל טענה בקשר למודעות פרסום ו/או
                  פרסומות המוצגות באתר, לרבות בקשר למיקומן באתר. מובהר כי בכל
                  הנוגע למודעות פרסום המוצגות בחסות צד שלישי, לאתר אין כל התערבות
                  בבחירת הפרסומות המוצגות, אמיתות תוכנן וסדר הופעתן
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 7 -->
  
          <!-- Step 8 -->
          <li class="text1" dir="rtl" lang="he">
            .השימוש באתר:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  .השימוש באתר מותר למטרות פרטיות ואישיות בלבד. אין להעתיק
                  ולהשתמש. או לאפשר לאחרים להשתמש, בכל דרך אחרת בתכנים מתוך האתר,
                  לרבות באתרי אינטרנט אחרים, בפרסומים אלקטרוניים, בפרסומי דפוס
                  וכיו"ב, לכל מטרה, בין מסחרית ובין שאינה מסחרית, שאיננה לצורך
                  שימוש אישי ופרטי, למעט בכפוף לקבלת אישור ו/או הסכמה מפורשת מראש
                  ומכתב לכל פעילות מסחרית ובכפוף לתנאי ההסכם ו/או תנאי השימוש
                  למשתמשים מסחריים.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .אין להפעיל או לאפשר להפעיל כל יישום מחשב או כל אמצעי אחר, לרבות
                  תוכנות מסוג Robots Crawlers וכדומה, לשם חיפוש, סריקה, העתקה או
                  אחזור אוטומטי של תכנים מתוך האתר. בכלל זה, אין ליצור ואין להשתמש
                  באמצעים כאמור לשם יצירת לקט, אוסף או מאגר שיכילו תכנים מהאתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .אין להציג תכנים מהאתר בכל דרך שהיא ובכלל זה באמצעות כל תוכנה,
                  מכשיר, אביזר או פרוטוקול תקשורת המשנים את עיצובם באתר או מחסירים
                  מהם תכנים כלשהם ובפרט פרסומות ותכנים מסחריים
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .אין לקשר לאתר מכל אתר המכיל תכנים פורנוגראפיים, תכנים המעודדים
                  לגזענות או להפליה פסולה, או המנוגדים לחוק, או שפרסומם מנוגד לחוק
                  או המעודדים פעילות המנוגדת לחוק.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .אין לקשר לתכנים מהאתר, שאינם דף הבית של האתר )"קישור עמוק"(
                  ואין להציג, או לפרסם תכנים כאמור בכל דרך אחרת, אלא אם הקישור
                  העמוק יהיה לדף אינטרנט באתר במלואו וכפי שהוא כך שניתן יהיה לצפות
                  ולהשתמש בו באופן הזהה לחלוטין לשימוש ולצפייה בו באתר. במסגרת זו,
                  חל איסור לקשר לתכנים מהאתר, במנותק מדפי האינטרנט שבהם הם מופיעים
                  באתרים )לדוגמה: אסור לקשר במישרין לתמונה או לקובץ גרפי באתר, אלא
                  לעמוד המלא שבו הם מופיעים(. כמו כן על כתובתו המדויקת של דף
                  האינטרנט באתר להופיע במקום הרגיל המיועד לכך בממשק המשתמש,
                  לדוגמה: בשורת הכתובת )Status Bar )בדפדפן של המשתמש. אין לשנות,
                  לסלף או להסתיר כתובת זו ואין להחליפה בכל כתובת אחרת.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  האתר רשאי לדרוש ביטול כל קישור עמוק כאמור לפי שיקול דעתו הבלעדי
                  ובמקרה זה לא תעמוד כל טענה, דרישה או תביעה כלפי האתר בעניין זה.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .האתר לא יישא בכל אחריות לכל נזק שייגרם כתוצאה מכל קישור לתכנים
                  מהאתר ומכל הצגה או פרסום של תכנים כאמור בכל דרך אחרת. האחריות
                  המלאה והבלעדית לכל קישור, הצגה או פרסום של התכנים, היא על מבצע
                  הקישור בלבד.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .על הגולש לשפות את האתר, עובדי ו, מנהלי ו, שותפי ו העסקיים או מי
                  מטעמם בגין כל נזק, הפסד, אבדן רווח, תשלום או הוצאה שייגרמו להם -
                  ובכלל זה שכ"ט עו"ד והוצאות משפט עקב הפרת התקנון. בנוסף, ישפה
                  המשתמש את האתר, עובדיו, מנהלי ו או מי מטעמם בגין כל טענה, תביעה
                  ו/או דרישה שתועלה נגדם על ידי צד שלישי כלשהו כתוצאה מתכנים
                  שנמסרו על ידו לפרסום באתר וכתוצאה מקישורים שביצע לאתר.
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 8 -->
  
          <!-- Step 9 -->
          <li class="text1" dir="rtl" lang="he">
            שינויים באתר, תקלות והפסקות שירות:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  .מבלי לגרוע מהאמור לעיל, האתר רשאי לשנות מעת לעת את מבנה האתר,
                  ו/או המראה ו/או העיצוב, ואת היקפם וזמינותם של השירותים באתר.
                  האתר יהיה רשאי לגבות תשלום בעד תכנים ושירותים כאלה או אחרים על
                  פי החלטתו. כמו כן, האתר יהיה רשאי לשנות כל היבט אחר הכרוך באתר
                  והכל, בלא צורך להודיע על כך מראש.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .שינויים כאמור יבוצעו, בין השאר, בהתחשב באופי הדינאמי של רשת
                  האינטרנט ובשינויים הטכנולוגיים והאחרים המתרחשים בה. מטבעם,
                  שינויים מסוג זה עלולים להיות כרוכים בתקלות ו /או לעורר בתחילה אי
                  נוחות וכיו ״ב. לא תהיה לגולשים באתר כל טענה, תביעה ו/או דרישה
                  כלפי האתר בגין ביצוע שינויים כאמור ו/או תקלות שיתרחשו אגב
                  ביצועם.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  מבלי לגרוע מן האמור לעיל, האתר רשאי בכל עת להפסיק את מתן
                  השירותים הללו, כולם או מקצתם, לפי שיקול דעתו הבלעדי. האתר ישתדל
                  לפרסם באתר הודעה על הפסקת השירותים זמן סביר מראש.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  האתר אינו מתחייב ששירותי האתר לא יופרעו, יינתנו כסדרם או בלא
                  הפסקות, יתקיימו בבטחה וללא טעויות ויהיו חסינים מפני גישה בלתי
                  מורשית למחשבי האתר או מפני נזקים, קלקולים, תקלות או כשלים -
                  והכל, בחומרה, בתוכנה, בקווי ובמערכות תקשורת אצל האתר או אצל מי
                  מספקיו.
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 9 -->
  
          <!-- Step 10 -->
          <li class="text1" dir="rtl" lang="he">
            קניין רוחני:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  כל זכויות היוצרים והקניין הרוחני הם בבעלות האתר בלבד, או בבעלות
                  צד שלישי, שהרשה לאתר לעשות שימוש על פי דין בתכנים ובכלל זה
                  שותפיו העסקיים של האתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  אין להעתיק, להפיץ, להציג בפומבי, לבצע בפומבי, להעביר לציבור,
                  לשנות, לעבד, ליצור יצירות נגזרות, למכור או להשכיר כל חלק מן הנ״
                  ל, בין ישירות ובין באמצעות או בשיתוף צד שלישי, בכל דרך או אמצעי
                  בין אם אלקטרוניים, מכאניים, אופטיים, אמצעי צילום או הקלטה, או
                  בכל אמצעי ודרך אחרת, בלא קבלת הסכמה בכתב ומראש מהאתר או מבעלי
                  הזכויות האחרים, לפי העניין, ובכפוף לתנאי ההסכמה (ככל שתינתן(.
                  הוראה זו תקפה גם ביחס לכל עיבוד, עריכה או תרגום שנעשו על ידי
                  האתר לתכנים שהוזנו או נמסרו על ידי הגולשים לאתר )ככל שישנם(.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .אם וככל שניתנה הסכמה כאמור, יש להימנע מלהסיר, למחוק או לשבש כל
                  הודעה או סימן בעניין זכויות קניין רוחני, לדוגמה: סימון זכויות
                  היוצרים ©, או סימן מסחר R, הנלווים לתכנים שיעשה בהם שימוש.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .סימני המסחר, צילומים, תמונות תכנים ומודעות הפרסומת של שותפיה
                  העסקיים של האתר )ככל שישנם( הינם קניינם של מפרסמים אלה בלבד. גם
                  בהם אין לעשות בהם שימוש בלא הסכמת המפרסם מראש ובכתב.
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 10 -->
  
          <!-- Step 11 -->
          <li class="text1" dir="rtl" lang="he">
            סמכות שיפוט:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  על תקנון זה יחולו אך ורק דיני מדינת ישראל, אולם לא תהיה תחולה
                  לכללי ברירת הדין הבינלאומי הקבועים בהם.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .לבתי המשפט שבמחוז מרכז תהיה סמכות שיפוט ייחודית בכל עניין הנובע
                  ו/או הקשור לתקנון.
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 11 -->
  
          <!-- Step 12 -->
          <li class="text1" dir="rtl" lang="he">
            .מדיניות פרטיות:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  האתר מכבד את פרטיות הלקוחות והגולשים.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  בנוסף למידע אותו הנך מוסר בעת השארת פרטים באתר, האתר אוסף מידע
                  מסוים אודות המחשב שלך, אשר באמצעותו הנך מבקר ומבצע פעולות באתר.
                  המידע נאסף באופן אוטומטי (לרבות באמצעות שימוש ב "Cookies )"והוא
                  עשוי לכלול כתובות IP ,סוג דפדפן, זמני גלישה וכניסה לאתר, אופן
                  הגלישה והכלי בו הנך משמש למטרת הגלישה, פרטים לגבי ספק האינטרנט
                  שלך וכתובות אתרי האינטרנט מהם הגעת. )המידע הנמסר בעת השארת פרטים
                  והמידע הנאסף על ידי האתר כאמור בפסקה זו יכונו יחד: "המידע הנאסף
                  באתר"(.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  המידע הנאסף באתר ישמש את האתר, בין היתר, לצורך הפעלת האתר בצורה
                  המיטבית, לשמירה על איכות ורמת שירות גבוהה, וכן לצורך סטטיסטיקה
                  כללית לגבי השימוש באתר.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  .המידע הנאסף מהשירותים בהם אתה מתעניין או רוכש ועשוי לשמש את
                  האתר או מי מטעמו, בין היתר, לצורך התאמת השירותים המוצעים לך
                  בצורה המיטבית, שמירה על איכות ורמת שירות גבוהה, וכן לצורך
                  סטטיסטיקה כללית.
                </span>
              </li>
              <li class="text1">
                <span class="li-text">
                  האתר או מי מטעמו רשאים לעשות שימוש במידע הנאסף עליך, בין היתר,
                  למטרות הבאות:
                </span>
                <ol>
                  <li class="text1">
                    <span class="li-text">
                      .בכדי לספק לך את המידע שביקשת או מידע נוסף אשר באתר מאמינים
                      שהוא עשוי לעניין אותך, מעת לעת;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      בכדי להתאים דיוור - פרסומות ומידע מסחרי על פי העדפותיך
                      האישיות;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .בכדי ליצור עמך קשר על ידי נציגי האתר בנוגע לשירותים אותם
                      האתר מספק;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .ניתוח סטטיסטי ומסירתו לצדדים שלישיים;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .תפעולו של האתר ופיתוח אתרים שיוקמו בעתיד;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .ניהול מכירות, שיווק, גיוס לקוחות והצעת שירותים חדשים;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      בכדי לבצע סקרי לקוחות ו/או מחקרי שיווק אשר האתר עורך מעת
                      לעת.
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .האתר יהיה רשאי להעביר מידע אישי ולהעביר מידע לצדדים שלישיים
                      בהתאם להוראות החוק, לרבות, במקרים הבאים:
                    </span>
                  </li>
                </ol>
              </li>
              <li class="text1">
                <span class="li-text">
                  .האתר יהיה רשאי להעביר מידע אישי ולהעביר מידע לצדדים שלישיים
                  בהתאם להוראות החוק, לרבות, במקרים הבאים:
                </span>
                <ol>
                  <li class="text1">
                    <span class="li-text">
                      נתת לכך הסכמתך. לעניין זה ״הסכמה״ – הסכמה מדעת, במפורש או
                      מכללא;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .האתר ו/או מי מטעמו נדרשים על פי חוק להעביר את המידע האמור,
                      למשל, מכוח צו בית משפט;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      אם הדבר יידרש, לדעת האתר, במסגרת כל מחלוקת, טענה, תביעה או
                      דרישה בהליך משפטי אם י היו בינך ובין האתר או בין צד שלישי
                      לבין האתר;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      על מנת להגן על זכויותיהם המשפטיות והקנייניות של האתר ו/או מי
                      מטעמו;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      שיתוף רשתות חברתיות כגון פייסבוק, אינסטגרם ואחרות ומפרסמים
                      נוספים ברשת כגון גוגל, טאבולה ואחרים;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      .לצרכים סטטיסטים – אנו מספקים מידע אישי לגופים וחברות שאנו
                      נותנים בהן אמון כדי שיעבדו את המידע עבורנו לפי הוראות האתר
                      ובאופן העולה בקנה אחד עם תקנון זה ומדיניות האתר;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      ככלל, וככל שלא ניתנה הסכמה מראש למסירת מידע אישי, מידע
                      המועבר לצרכים סטטיסטים אינו כולל פרטים מזהים;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      אם תפר את תקנון זה אם תבצע פעולות מנוגדות או הנחזות כמנוגדות
                      לדין, או כל ניסיון לבצע פעולות כאלה;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      בכל מקרה שהאתר יסבור, כי מסירת המידע הנאסף נחוצה על מנת
                      למנוע נזק חמור לגוף המשתמש או לרכושו או לגופו או לרכושו של
                      צד שלישי;
                    </span>
                  </li>
                  <li class="text1">
                    <span class="li-text">
                      אם האתר ימוזג לתוך פעילות גוף אחר או אם האתר יעבור לבעלות
                      תאגיד אחר ניתן יהיה להעביר לתאגיד החדש את המידע הקיים באתר,
                      אבל רק במקרה שהתאגיד יתחייב לשמור על תנאי תקנון זה.
                    </span>
                  </li>
                </ol>
              </li>
              <li class="text1">
                <span class="li-text">
                  .חשוב לזכור שלא ניתן לערוב במאת האחוזים מפני פעילות עוינת ונחושה
                  מצד גורמים זרים ולכן אין בפעולות אלה בטחון מוחלט והאתר לא מתחייב
                  שהמידע יהיה חסין באופן מוחלט מפני גישה בלתי מורשית.
                </span>
              </li>
            </ol>
          </li>
          <!-- Step 12 -->
  
          <!-- Step 13 -->
          <li class="text1" dir="rtl" lang="he">
            צרו קשר:
            <ol class="">
              <li class="text1">
                <span class="li-text">
                  האתר מקפיד על קיום הוראות החוק ומכבד את זכותם של משתמשי האתר
                  ואחרים לפרטיות ולשם טוב. אם אתה סבור כי פורסם באתר תוכן הפוגע בך
                  מטעם כלשהו, נא פנה אלינו לפי הפרטים שלהלן ואנו נשתדל לטפל
                  בפנייתך בכל ההקדם. פניות כאמור ניתן להעביר באמצעים הבאים:
                </span>
                <br />
                <span class="li-text"> כתובת: הורד 153 ,גני יוחנן; </span>
                <br />
                <span class="li-text"> טל: 053-6259999 </span>
                <br />
                <span class="li-text">  דוא״ל : Luxurymassages2@gmail.com </span>
              </li>
            </ol>
          </li>
          <!-- Step 13 -->
        </ol>
  
        <div class="float-end" style="float: right;">
          <p class="li-text">
            כל הזכויות בתקנון זה שמורות לדניאל עורכי דין ואין להעתיק, לשכפל או
            להפיץ אותו.
          </p>
          <p class="float-end li-text">עדכון אחרון: יולי 2021</p>
        </div>
      </div>
  
      <div class="col-md-12 text-center mt-5 mb-5">
        <!-- <button class="btn btn-secondary p-2">Decleain</button>
        <button class="btn btn-warning p-2 m-3">Agree</button> -->
      </div>
    </div>
  </div>
  