<div class="left-side ml-5 mb-5">
  <div>
    <div class="mb-5">
      <full-calendar #fullcalendar [options]="calendarOptions"></full-calendar>
    </div>
  </div>
</div>

<div class="right-side ml-2">
  <div class="ads">
    <div class="ads-item" *ngFor="let ad of adsIdsList | async">
      <a [href]="ad.url"><img [src]="pattern + ad"></a>
      <p>{{ad.title}}</p>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">? תור לתאריך {{current_event.dateStr}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group row" dir="rtl"> <label for="example-time-input" class="col-2 col-form-label">שעה</label>
      <div class="col-10">
        <div class="alert alert-danger" role="alert" *ngIf="alertMessage">
           לא בחרת שעה או מטפל
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="messageAlertTerm">
          לא הסכמת את התקנון
       </div>
        <div class="alert alert-danger" role="alert" *ngIf="alertMessageDisable">
          אנחנו סגורים בטווח שעה הזה
       </div>
        <input class="form-control" name="time" [(ngModel)]="selectedTime" type="time" value="13:45" id="swal-time">
      </div>
    </div>
    <div class="card-body pt-0 pb-3">

      <h3>בחירת מטפל</h3>
      <div class="row people text-center">
        <div class="col-md-6 col-lg-4 item cursor-pointer" id="worker_{{worker._id}}" (click)="selectWorker(worker, $event)" *ngFor="let worker of all_availables_workers; let i = index">
          <div class="box" ><img class="rounded-circle" [src]="worker.img">
              <h3 class="name">{{worker.fullname}}</h3>
              <p class="title">{{worker.gender}}</p>
          </div>
        </div>
      </div>

      <div class="form-check mb-3">
        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="checkingTerm()">
        <label class="form-check-label" for="flexCheckDefault">
          קראתי את  <a [href]="patternTerms">התקנון </a> ואני מסכים
        </label>
      </div>
      
      <button type="button" class="btn btn-success" style="width: 48%; float:left;" (click)="ConfirmAppointmentCard()"><i class="fa fa-credit-card"></i> לתשלום דרך כרטיס אשראי</button>
      <button type="button" class="btn btn-success" style="width: 48%; float:right;" (click)="ConfirmAppointmentBit()"><img src="https://upload.wikimedia.org/wikipedia/he/thumb/d/d6/Bit_logo.svg/1200px-Bit_logo.svg.png" style="width: 30px"> לתשלום דרך</button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>