#fullcalendar{
    //* various CSS styles to make calendar
    background-color: #A0A8A0;
    cursor: pointer;
}

img {
  height: 10%;
  width: 80%;
}

.imgProfile {
  height: 80px!important;
  width: 100%!important;
}
@media only screen and (max-width: 600px) {
  .imgProfile {
    height: 40px!important;
    width: 100%!important;
  }
}

.md-full-event {
  width: 100%;
  padding: 10px 0;
}

.md-full-event-img {
  width: 100px;
  border-radius: 6px;
  float: left;
}

.md-full-event-details {
  margin-left: 114px;
}

.md-full-event-title {
  font-size: 17px;
  font-weight: 600;
  padding-bottom: 10px;
}

.md-full-event-location {
  display: inline-block;
  line-height: 1.4;
  margin-right: 40px;
}

.md-full-event-time {
  display: inline-block;
  line-height: 1.4;
}

.md-full-event-label {
  font-size: 12px;
  font-weight: 600;
  color: #aaa;
}



// --------------------------------------------------------------------------------------

@media screen and (max-width: 768px) {
  .left-side {
    width: 80%!important;
    margin-top: 10%!important;
  }
  .right-side {
    width: 80%!important;
    height: 50%!important;
    float: left;
  }

  .ads {
    flex-wrap: nowrap;
    align-items: center;
  }

  .rounded-circle {
    width: 40%!important;
  }
  
}

.right-side {
  width: 30%;
  float: right;
}
.left-side {
  width: 65%;
  display: inline-block;
}

.item{
  border: none;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
}

.item:hover {opacity: 1}
